<h1>CONCURSO MYDECK </h1>
<h3> CONCURSO DE CORTOMETRAJES "MUJERES Y DIVERSIDADES EN CONSTRUCCIÓN" </h3>

<%= simple_form_for @ficha_tecnica do |f| %>

  <h4>Información General</h4>
  <%= f.select :categoria_id, options_for_select(['Cortometraje', 'Ficción', 'Animación']), label: "Categoría" %>
  <%= f.input :titulo, label: "Título" %>
  <%= f.input :link, label: "Link" %>
  <%= f.input :contraseña, label: "Contraseña" %>
  <%= f.input :afiche, label: "Afiche" %>

<h4>Información Técnica</h4>
  <%= f.input :pais, label: "País" %>
  <%= f.input :year, label: "Año" %>
  <%= f.input :duracion, label: "Duración en minutos" %>
  <%= f.input :elenco, label: "Elenco" %>
  <%= f.input :etecnicoc, label: "Equipo técnico completo" %>


<h4>¡Subí tres fotos de tu proyecto!</h4>
<%= f.input :imagen1, label: "Imágen 1" %>
<%= f.input :imagen2, label: "Imágen 2" %>
<%= f.input :imagen3, label: "Imágen 3" %>


<h4>Motivaciones</h4>
<%= f.input :motivacion_direccion, label: "Motivación Dirección" %>
<%= f.input :motivacion_produccion, label: "Motivación Producción" %>




  <%= f.button :submit, label: "Enviar" %>
<% end %>
